.product {
  width: 300px;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0px 0px 6px 0px var(--purple);
}
.product:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px var(--purple);
}
.product img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: contain;
}
.product img:hover {
  transform: scale(1.1);
}
.product__info {
}
.product__title {
}

.line__clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line__clamp__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
