@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0%;
  border: 0%;
  font-family: "Poppins", monospace;
  --main-blue: rgb(37 99 235);
  --dark-blue: rgb(0, 81, 255);
  --light-blue: #4ebeff;
}
/* Styling the scroll bar */
body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-thumb {
  /* border-radius: 1rem; */
  background-color: var(--dark-blue);
}

input,
select,
button {
  padding: 16px;
  font-size: 1rem;
}
/* spinner */
.spinning-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgba(29, 161, 242, 0.2);
  border-left-color: rgb(29, 161, 242);
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
  margin: 6rem auto;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
