@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0%;
  border: 0%;
  font-family: "Poppins", monospace;
  --purple: #9018ff;
  --dark-blue: #7167ff;
  --light-blue: #4ebeff;
}
/* Styling the scroll bar */
body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-thumb {
  /* border-radius: 1rem; */
  background-color: var(--purple);
}
